
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="swiper-container swiper-slide-gap home-slider-container default-slider-container">
        <div class="swiper-wrapper home-slider-wrapper slider-default">
          <div class="swiper-slide">
            <div class="slider-content-area" data-bg-img="assets/img/slider/slider-01.jpg">
              <div class="container">
                <div class="row align-items-center ">
                  <div class="col-12">
                    <div class="slider-content">
                      <h5 class="sub-title">NEW COLLECTION 2021</h5>
                      <h2 class="title">New Interior Concept <br>Wooden Chairs</h2>
                      <a class="btn-slider" href="shop.html">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content-area" data-bg-img="assets/img/slider/slider-02.jpg">
              <div class="container">
                <div class="row align-items-center ">
                  <div class="col-12">
                    <div class="slider-content">
                      <h5 class="sub-title">NEW COLLECTION 2021</h5>
                      <h2 class="title">The Brighten Up <br>Interior Collection</h2>
                      <a class="btn-slider" href="shop.html">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--== Add Swiper Arrows ==-->
        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <section class="about-area">
      <div class="container-fluid p-0">
        <div class="row no-gutter about-position-style">
          <div class="col-lg-7">
            <div class="about-thumb">
              <div class="image-1" data-bg-img="assets/img/about/1.jpg"></div>
              <div class="image-2" data-bg-img="assets/img/about/2.jpg"></div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="about-content bg-theme-color3">
              <div class="section-title mb--0">
                <h2 class="sub-title">Provide the best</h2>
                <h2 class="title">Furniture For You</h2>
                <div class="desc">
                  <p>Modern furniture refers to furniture produced from the late 19th century through the present that is influenced by modernism. Post-World War II ideals of cutting excess, commodification, and practicality of materials in design heavily influenced the aesthetic of the furniture.</p>
                  <p>It was a tremendous departure from all furniture design that had gone before it. There was an opposition to the decorative arts, which included Art Nouveau, Neoclassical, and Victorian styles.</p>
                </div>
              </div>
              <a href="#" class="btn-theme">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <section class="feature-area">
      <div class="feature-container">
        <div class="row no-gutter">
          <div class="feature-col col-xl-3 col-md-6 col-12">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box" data-bg-img="assets/img/icons/1.jpg"></div>
                <div class="content">
                  <h3 class="title">Бесплатная доставка</h3>
                  <p>Оплатим доставку Вам за наш счёт! *при заказе от 5000 руб.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="feature-col col-xl-3 col-md-6 col-12">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box" data-bg-img="assets/img/icons/1.jpg"></div>
                <div class="content">
                  <h3 class="title">Качество</h3>
                  <p>Мы заботимся о качестве наших продуктов, это одна из главных наших целей!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="feature-col col-xl-3 col-md-6 col-12">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box" data-bg-img="assets/img/icons/1.jpg"></div>
                <div class="content">
                  <h3 class="title">3 дня возврата!</h3>
                  <p>Возвращаем деньги, если наши продукты не понравились Вам.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="feature-col col-xl-3 col-md-6 col-12">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box" data-bg-img="assets/img/icons/1.jpg"></div>
                <div class="content">
                  <h3 class="title">Онлайн поддержка</h3>
                  <p>Почта, телефон, всё что угодно. Главное напиши.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Feature Area Wrapper ==-->
  </main>
