{% extends 'main.html' %}

{% load static %}

{% block main %}
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="swiper-container swiper-slide-gap home-slider-container default-slider-container">
        <div class="swiper-wrapper home-slider-wrapper slider-default">
        {% for x in object_list %}
            <div class="swiper-slide">
              <div class="slider-content-area" data-bg-img="{% static 'media/' %}{{ x.image }}">
                <div class="container">
                  <div class="row align-items-center ">
                    <div class="col-12">
                      <div class="slider-content">
                        <h5 class="sub-title">{{ x.pub_date }}</h5>
                        <h2 class="title">{{ x }}</h2>
                        <a class="btn-slider" href="shop.html">Посмотреть</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
