{% extends 'main.html' %}

{% load static %}

{% block main %}
<main class="main-content">
  <section class="product-area product-grid-list-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="product-header-wrap">
            <div class="show-product-area">
              <p class="show-product">Найдено {{ object_list.count }} подходящих вариантов</p>
            </div>
            <div class="nav-short-area">
              <div class="toolbar-shorter">
                <label for="SortBy">Отсортировать</label>
                <form id="SortBy" name="SortBy" action="{% url 'store:all' %}" method="get">
                  <select id="SortBy" class="form-select" form="SortBy" inputmode="submit" onclick="submit">
                    <option value="price-ascending" inputmode="submit">Цене, от меньшей к большему</option>
                    <option value="price-descending">Цене, от большей к меньшей</option>
                    <option value="created-descending" selected>Дате, от новой до старой</option>
                    <option value="created-ascending">Дате, от старой до новой</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
          <div class="product-body-wrap">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade active show" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                <div class="row">
                {% for object in object_list %}
                  <div class="col-12">
                    <div class="product-item product-item-list">
                      <div class="inner-content">
                        <div class="product-thumb">
                          <a href="shop-single.html">
                            <img class="w-100" src="{% static 'media/' %}{{ object.image }}" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="product-desc">
                          <div class="product-info">
                            <h4 class="title"><a href="{% url 'store:one-shot' object.id %}">{{ object }}</a></h4>
                            <div class="prices">
                                <span class="price">{{ object.price }} RUB</span>
                            </div>
                            <p>{{ object.description }}</p>
                            <ul>
                            {% for category in object.categorys.all %}
                                <li> • <a href="{% url 'store:category' category.slug %}"> {{ category.title }}</a></li>
                            {% endfor %}
                            </ul>
                            {% if object.count %}
                              <p><h6>В наличии</h6></p>
                            {% else %}
                              <p><h6>Нет в наличии</h6></p>
                            {% endif %}
                            <div class="product-action">
                                <div class="addto-wrap">
                                <a class="add-cart" href="shop-cart.html">
                                    <span class="icon">
                                    <i class="bardy bardy-shopping-cart"></i>
                                    <i class="hover-icon bardy bardy-shopping-cart"></i>
                                    </span>
                                </a>
                                <a class="add-quick-view" href="javascript:void(0);">
                                    <span class="icon">
                                    <i class="bardy bardy-quick-view"></i>
                                    <i class="hover-icon bardy bardy-quick-view"></i>
                                    </span>
                                </a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}